<article>
    <section>
        <div class="bordesPort">
            <div class="position-relative">
                <div  class="position-absolute top-0 start-0">
                    <!-- img perfil  -->
                    <img src={{persona.img}} alt="foto Perfil" class="imgPerfil" >    
                </div>
            </div>
            
            <!-- botón edit 1 -->
            <div class="position-absolute">
                <div class="edit1">
                    <button class="btn">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </div>
                <!-- <td *ngIf="isLogged"> -->
                    <!-- boton edit 3 -->
                    <!-- <button class="btn" routerLink="/editexp/{{experiencia.id}}">
                        <i class="fa-solid fa-pen"></i>    
                    </button>
                </td> -->
            </div>
            <!-- titulo -->
            <div class="margenesT">
                <h1>{{persona.nombre}} {{persona.apellido}}</h1>
                <p>Full Stack Developer Jr</p>
                <p>Santiago del Estero, Argentina</p>
                <p><a href="#" class="enlaceNone">Información de Contacto</a></p>
            </div>

            <div class="botSection1">
                <!-- botones -->
                <button type="button" class="btn btn-primary">Tengo interes en</button>
                <button type="button" class="btn btn-outline-dark">Añadir Sección</button>
                <button type="button" class="btn btn-outline-dark">Más</button> 
            </div>
        </div>  
    </section>
        
    <!-- acerca de -->
    <section class="about">
        <div class="position-relative text-center">
            <h3>Acerca de mi</h3>
            <p>{{persona.descripcion}}</p>
            <!-- edit 2 -->
            <div class="position-absolute top-0 end-0">
                <td *ngIf="isLogged">
                    <!-- boton edit 3 -->
                    <button class="btn" routerLink="/editacercade/1">
                        <i class="fa-solid fa-pen"></i>    
                    </button>
                </td>
            </div>
        </div>
    </section>
</article>
<!-- end -->

