h3 {
    margin: 15px 10px 15px 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.styleHS {
    border-radius: 45px 45px 45px 45px;
    border: solid 1px rgb(201, 203, 204);
    margin: 35px;
    padding: 25px;
    box-shadow: 10px 10px 30px #000000;
}
