<!-- Experiencias -->
<section class="expe">
    <div class="position-relative">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h2>Experiencia</h2>
                </div>
                <!-- boton de agregacion -->
                <div class="col-4 d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-plus" routerLink= "/nuevaexp" *ngIf="isLogged">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>       
                <!-- fin de boton -->
            </div>
        </div>

        <!-- lista de experiencia -->
        <ul class="list-group ">
            <li *ngFor="let experiencia of experiencia" class="list-group-item">
                <!-- botones de edicion -->
                <div class="position-absolute top-0 end-0">
                    <td *ngIf="isLogged">
                        <!-- boton edit 3 -->
                        <button class="btn" routerLink="/editexp/{{experiencia.id}}">
                            <i class="fa-solid fa-pen"></i>    
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <!-- boton de eliminar -->
                        <button class="btn" (click)="delete(experiencia.id)">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                    
                </div>
                <!-- fin de botones -->

                <!-- Tabla -->
                <!-- filas -->
                <div class="row">
                    <!-- columnas -->
                    <div class="col-xl-3 col-sm-3 p-3 bd-highlight">
                        <!-- falta imagen -->    
                        <img [src]="'../assets/img/work.jpg'" class="img-fluid" alt="trabajo">
                    </div> 
                    <div class="col-xl-9 col-sm-9 p-2 bd-highlight">
                        <div class="card-body">
                            <h4 class="card-title">{{experiencia.nombreExp}}</h4>
                            <p class="card-text text-muted">{{experiencia.descripcion}}</p>
                            <p class="card-text">{{experiencia.fechaInicio| date: "shortDate"}} - {{experiencia.fechaFin| date: "shortDate"}}</p>

                        </div>
                    </div>
                    <!-- fin columnas -->
                </div>
                <!-- fin filas -->
                <!-- fin tabla -->
            </li>
        </ul>

    </div>
    

</section>
